header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(47, 47, 47);
  padding: 1em 3em;
  color: white;

  h1 {
    font-size: 1.6rem;
  }

  ul {
    overflow-y: hidden;
  }

  li {
    list-style: none;
    display: inline;
    padding: 1em;

    a {
      color: white;
      font-size: 1.2rem;
      overflow-y: hidden;
    }

    a:hover {
      text-decoration: underline;
    }
  }
  .menu-bar {
    display: none;
  }

  @media (max-width: 38em) {
    .menu-bar {
      display: block;
      font-size: 1.5rem;
    }

    .link-list {
      display: none;
    }
  }
}

@media (max-width: 38em) {
  header {
    padding: 0em 3em;
  }
}
